argcomplete==3.7.0
click==8.4.2
colorama==0.4.6
filelock==3.32.0
iniconfig==2.3.0
joblib==1.5.3
narwhals==2.23.0
numpy==2.5.0
numpy-typing-compat==20260602.2.5
optype==0.18.0
packaging==26.2
pandas==3.0.3
pandas-stubs==3.0.3.260530
patsy==1.0.2
pipx==1.16.7
platformdirs==4.11.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
scikit-learn==1.9.0
scipy==1.18.0
scipy-stubs==1.18.0.0
six==1.17.0
statsmodels==0.14.6
threadpoolctl==3.6.0
tzdata==2026.2
userpath==1.9.2
xgboost==3.3.0
